{% extends 'shop/base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
  <h1>Оформление заказа</h1>
  <div class="order-info">
    <h3>Ваш заказ</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span><b>{{ item.total_price }}₽</b></span>
        </li>
      {% endfor %}
    </ul>
      <p>Всего: {{ cart.get_total_price }}₽</p>
  </div>
  <form method="post" class="order-form">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Подтвердить">
  </form>
{% endblock %}